.app {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#set-timer-container {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}

.crement-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

button {
  background: none;
  border: none;
}
